@import "variables.scss";
@import "mixins.scss";

#cerimonia {
  .igreja {
    display: block;
    text-align: center;
    margin-bottom: 0;
  }

  .data {
    display: block;
    text-align: center;
  }

  .endereco {
    display: block;
    text-align: center;
  }

  #mapMain {
    margin-top: 20px;

    #mapid {
      height: 370px;
    }
  }
}
