@import "variables.scss";
@import "mixins.scss";

#confirmePresencaMain {
  padding: 70px 20px;
  margin-top: 70px;
  background: $light;

  .main-row {
    justify-content: center;

    .form-wrapper {
      padding-top: 15px;
    }
  }

  h1 {
    text-align: center;
  }
}

@media(min-width: 992px) {
  #confirmePresencaMain {
    margin-top: 50px;
  }
}

body {
  position: relative;
}
