@import "variables.scss";
@import "mixins.scss";

#galeriaMain {
  overflow: auto;
  padding: 10px;
  margin-top: 70px;
  background: $light;

  h1, p {
    text-align: center;
  }

  .my-gallery {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    img {
      width: 100%;
      height: auto;
    }
    figure {
      flex: 1 0 17%;
      margin: 0 5px 5px 0;
    }
    figcaption {
      display: none;
    }
  }
}

@media(min-width: 992px) {
  #galeriaMain {
    margin-top: 50px;
  }
}
