@import "variables.scss";
@import "mixins.scss";

section {
  min-height: 60vh;
  transform: translateZ(0);
  padding: 70px 0;

  &.white-section {
    background: white;
  }

  &.blue-section {
    background: $light;
  }
}

#mensagensSection {
  .custom-file {
    margin-bottom: 1rem;
  }
}
