@import "variables.scss";
@import "mixins.scss";

#noivos {
  li {
    @include body-font;
    display: block;
    margin-bottom: 10px;
  }
  li:before {
    content: "\2665";
    font-size: 22px;
    float: left;
    margin-top: -6px;
    margin-left: -20px;
    color: $dark;
  }
}
