@import "variables.scss";
@import "mixins.scss";

.hide {
  display: none !important;
}

h1 {
  @include script-font;
  font-size: 2.8rem;
  padding: 10px 20px;
}

h2, h3, h4, h5 {
  @include body-font;
}

p {
  @include body-font;
  font-size: 18px;
  padding: 0 20px;
}
