<section id="cerimonia" class="blue-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <h1>A Cerimônia</h1>
        <p class="data lead">
          SÁBADO, 19 DE OUTUBRO DE 2019, ÀS 20:15
        </p>
        <span class="endereco text-muted">
          Rua Mte. João Silvério, 175
        </span>
        <span class="endereco text-muted">
          Jardim Arizona - Sete Lagoas - MG
        </span>
      </div>
      <div class="col-md-12 col-lg-6">
        Variable width content
      </div>
    </div>
  </div>
</section>
