<!DOCTYPE html>
<html lang="pt-br">
  <title>Casamento Jéssica & Danilo</title>

  <% include ../defaults/head %>
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/comments.css">
  <link rel="stylesheet" href="/stylesheets/cerimonia.css">
  <link rel="stylesheet" href="/stylesheets/noivos.css">
  <link rel="stylesheet" href="/stylesheets/welcome.css">

  <link rel="stylesheet" href="/leaflet.css" />
  <script src="/leaflet.js"></script>

  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <body>
    <!-- Navigation -->
    <% include ../defaults/nav %>

    <header>
    </header>

    <!-- Welcome section -->
    <% include ./welcome-section %>

    <!-- Noivos section -->
    <% include ./noivos-section %>

    <!-- Mensagens section -->
    <% include ./mensagens-section %>

    <!-- Cerimonia section -->
    <% include ./cerimonia-section %>

    <% include ../defaults/footer %>
  </body>

  <% include ../defaults/scripts %>
  <script src="/javascripts/recaptcha-callback.js"></script>
  <script src="/javascripts/comments-pagination.js"></script>
  <script src="/javascripts/post-comment.js"></script>
</html>
