<!DOCTYPE html>
<html lang="en">
  <title>Casamento Jéssica & Danilo</title>

  <% include ../defaults/head %>
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/comments.css">
  <link rel="stylesheet" href="/stylesheets/cerimonia.css">
  <link rel="stylesheet" href="/stylesheets/noivos.css">

  <body>
    <!-- Navigation -->
    <% include ../defaults/nav %>

    <header>
    </header>

    <!-- Welcome section -->
    <% include ./welcome-section %>

    <!-- Noivos section -->
    <% include ./noivos-section %>

    <!-- Mensagens section -->
    <% include ./mensagens-section %>

    <!-- Cerimonia section -->
    <% include ./cerimonia-section %>

    <% include ../defaults/footer %>
  </body>

  <% include ../defaults/scripts %>
  <script src="./javascripts/menu.js"></script>
  <script src="./javascripts/comments-pagination.js"></script>
</html>
