<section id="noivos" class="blue-section">
  <div class="container">
    <div class="d-flex justify-content-center">
      <img class="img-fluid" src="images/noivinhos.png">
    </div>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h1>Quem é ela?</h1>
        <ul>
          <li>25 anos;</li>
          <li>Adora ser professora;</li>
          <li>Formada em Gestão de Recursos de Humanos e Sociologia;</li>
          <li>Ama os animais;</li>
          <li>Gosta de Coca Cola Zero(e não gosta de dividí-la);</li>
        </ul>
      </div>

      <div class="col-md-6 col-sm-12">
        <h1>Quem é ele?</h1>
        <ul>
          <li>26 anos;</li>
          <li>Desenvolvedor de Sistemas;</li>
          <li>Formado em Análise e Desenvolvimento de Sistemas;</li>
          <li>Louco pelo Cruzeirão Cabuloso;</li>
          <li>Gosta de café, jogar futebol e sinuca;</li>
        </ul>
      </div>
    </div>
  </div>
</section>
