<section class="white-section">
  <div class="container">
    <h1>Só pra constar nos registros por aí, que todo meu amor é seu..</h1>
    <div class="row">
      <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
        <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
          <li data-target="#carousel" data-slide-to="2"></li>
          <li data-target="#carousel" data-slide-to="3"></li>

        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-block">
              <div class="slide-box">
                <img class="image1" src="/images/header/header1.jpg" alt="First slide">
                <img class="image2" src="/images/header/header2.jpg" alt="First slide">
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-block">
              <div class="slide-box">
                <img class="image1" src="/images/header/header3.jpg" alt="First slide">
                <img class="image2" src="/images/header/header4.jpg" alt="First slide">
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-block">
              <div class="slide-box">
                <img class="image1" src="/images/header/header5.jpg" alt="First slide">
                <img class="image2" src="/images/header/header6.jpg" alt="First slide">
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-block">
              <div class="slide-box">
                <img class="image1" src="/images/header/header7.jpg" alt="First slide">
                <img class="image2" src="/images/header/header8.jpg" alt="First slide">
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <p class="lead">
      "A vida é concretizada por meio do amor e construída através de nossos sonhos.
    </p>
    <p class="lead">
      Podemos dizer que hoje nossos maiores desejos  se fazem reais.
    </p>
    <p class="lead">
      Aqui é onde a felicidade pretende se eternizar e fazer morada.
    </p>
    <p class="lead">
      É neste amor que reconhecemos que somos dois, mas somos melhores sendo um."
    </p>
  </div>
</section>
