<!DOCTYPE html>
<html lang="pt-br">
  <title>Casamento Jéssica & Danilo</title>

  <% include ../defaults/head %>
  <link rel="stylesheet" href="/stylesheets/confirme-presenca.css">

  <body>
    <!-- Navigation -->
    <% include ../defaults/nav %>

    <div id="confirmePresencaMain">
      <h1>Confirme sua presença</h1>

      <% include ../defaults/loading %>
    </div>

    <% include ../defaults/footer %>
  </body>

  <% include ../defaults/scripts %>
  <script>
    setFixedNav(true)
  </script>
</html>
