<html>
  <body>
    <h1>Muito obrigado pela sua confirmação de presença!</h1>

    <p>Ficamos felizes e contamos com você no nosso grande dia! Abaixo seguem algumas orientações:</p>
    <ul>
      <li>Nosso casamento será as 20:15 hrs, confiamos na sua pontualidade</li>
      <li>Este é um momento especial, então leve sua câmera/celular e poste com a #JessicaeDanilo</li>
      <li>Cada detalhe foi pensado e repensado com muito carinho para que você se sinta parte da nossa felicidade, então chore, cante, sorria, dance muito!</li>
      <li>Caso surja alguma novidade, será publicado em nosso site. Então sempre que puder, dê uma olhadinha lá.</li>
    </ul>
    <p>Esperamos por você dia 19, um abraço e até lá! )</p>
  </body>
</html>
