<html>
  <body>
    <h1>Nova mensagem do site!</h1>
    <p>Nome: <%= author %></p>
    <p>Email:  <%= email %></p>
    <p>Data/hora: <%= data %></p>
    <p>
      <%- mensagem %>
    </p>
  </body>
</html>
