<link rel="stylesheet" href="/stylesheets/footer.css">

<footer id="mainFooter">
  <div class="footer-wrapper">
    <span class="title"> Jéssica & Danilo </span>
    <span class="message"> Feito com <span class="heart">&#9829;</span> para nossos amigos e parentes! </span>
  </div>
</footer>
