<!DOCTYPE html>
<html lang="pt-br">
  <title>Casamento Jéssica & Danilo</title>

  <% include ../defaults/head %>
  <link rel="stylesheet" href="/stylesheets/lista-presentes.css">

  <body>
    <!-- Navigation -->
    <% include ../defaults/nav %>

    <div id="listaPresentesMain">
      <img class="img-fluid" src="/images/lista-presentes.jpg">

      <h1>Bem vindo(a) à nossa lista de presentes!</h1>
      <p class="lead">
        Querido convidado, seja bem vindo à nossa lista de presentes!
      </p>
      <p class="lead">
        Pensamos em tudo com muito carinho para que você se sinta à vontade para nos presentear com o que sentir vontade.
      </p>
      <p class="lead">
        Agradecemos sua contribuição nesse momento tão especial. Essa lista só existe porque você está aqui.
      </p>
      <p class="lead">
        Muito obrigada por nos ajudar a construir esse grande dia!
      </p>

      <a target="blank" href="https://casamento.casasbahia.com.br/#/lista-presentes/780780">
        Acesse aqui a nossa lista de presentes
      </a>
    </div>

    <% include ../defaults/footer %>
  </body>

  <% include ../defaults/scripts %>
  <script>
    setFixedNav(true)
  </script>
</html>
